.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.product-name{
    color: #3d3dd2;
    margin-left: 40px;
    margin-right: 20px;
}
.main-button{
    background-color: gold;
    font-size: 20px;
    height: 30px;
    width: 150px;
    color:black;
    border:1px solid black;
    border-radius: 5px;
    cursor: pointer;
}